.App {
  text-align: center;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 5em;
  margin-right: 5em;
  justify-content: center;
  background-color: #8873B8;
  box-shadow: 5px 5px 5px 5px #14130b4b;
  border-radius:10px 10px 10px 10px ;
  

}

.App-Load{
  text-align: center;
}

.App-title{
  color:white;
}

@media (min-width: 1200px) {
  .App{
    margin-left: 15em;
    margin-right: 15em;
  }
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
